<h1>All Tasks</h1>


<% @tasks.each do |task| %>
    <!-- <p> Task: <%= task.title %> </p> -->
    <li>
      <% if task.completed %>
      <input type="checkbox" checked>
      <% else %>
      <input type="checkbox">
      <% end %>

      <%= link_to task.title, task_path(task) %>
      <%= link_to ('<i class="far fa-trash-alt"></i>').html_safe, task_path(task), method: 'delete' %>
    </li>
<% end %>

<p> <%= link_to 'Add new task', new_task_path  %> </p>





